@layer components {
  .input {
    @apply w-full px-4 py-3 border border-solid border-border rounded-xl bg-white text-black outline-none transition-all duration-300;

    &-gray {
      @apply bg-gray border-gray;
    }

    &-lg {
      @apply py-4 text-base;
    }

    &:focus {
      @apply border-primary ring-2 ring-primary/20;
    }

    &:disabled {
      @apply opacity-50 cursor-not-allowed;
    }

    &::placeholder {
      @apply text-text-tertiary;
    }
  }
}
